@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #D0C4DB;
    margin: 0;
    
}

header {
    min-width: 1240px;
    
}

.header {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 12px;
    padding-bottom: 22px;
    flex-grow: 0;
}

.header-menu {
    display: flex;
    align-items: center;
    display: flex;
    width: auto;
    align-items: flex-start;
    gap: 26px;
    
}

.header-menu a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2px;
}

.header-menu a:hover {
    color: #694C87;
}

main {
    min-width: 1240px;
    display: flex;
    justify-content: center;
}


div.flowers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    
}

div.heading {
    margin-top: 34px;
    margin-bottom: 70px;
    padding: 0;
    
}

.heading span {
    text-align: start;
    color: #FFF;
    /* заголовок/H1 */
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 11.88px;
    text-transform: uppercase;
    
}

img.bouquet {
    max-width: 100%;
    width: 350px;
    height: auto;
}


hr {
    border: 1px solid #FFF;
    min-width: 100%;
    margin-top: 18px;
    margin-bottom: 20px;
}

.stroke {
    display: flex;
    width: 1240px;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 95px;
    
    
}


h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #604679;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 4.8px;
}

p {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.63px;
    
}

.bouquet {
    display: flex;
    width: 350px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.bouquet a {
    text-decoration: none;
}

footer {
    min-width: 1240px;
    display: flex;
    justify-content: center;
}

div.footer {
    display: flex;
    width:100%;
    height: 142px;
    margin-top: 98px;
    justify-content: center;
    align-items: center;
    background: var(--footer-liner, linear-gradient(180deg, rgba(121, 51, 61, 0.51) -392.61%, #D0C4DB 47.05%));
}

@media (max-width: 768px) {
header {
    
}

main {
    
}
}

